body {
    background-image: url("https://cdn.cbeditz.com/cbeditz/large/11614600401ft9fdv5famjm9cxhdwnyl0fcesfpbneenrzmdnxbfeufy4fkiiqyckhnhxkhrjnknwxm0lhlpitd5jjwjysgm4da0sjvuzmrevh2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

div.left {
    margin-left: 50px;
    margin-top: 60px;
    float: left;
    width: 40%;
    height: 525px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 4px 4px grey;

}

#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    animation: spin 10s infinite linear;
    margin-bottom: 25px;
}

#play {
    margin-right: 20px;
    transition-duration: 0.2s;
    width: 40px;
    cursor: pointer;
}

#play:hover {
    opacity: 0.8;
}

#repeat {
    transition-duration: 0.2s;
    width: 40px;
    cursor: pointer;
    margin-right: 20px;

}

#repeat:hover {
    opacity: 0.8;
}

div.button {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 40px;
}

p.name {
    margin-top: 5px;
    display: block;
    text-align: center;
    font-size: 35px;
    font-family: 'EB Garamond', serif;
    margin-bottom: 5px;
}

p.artist {
    margin-top: 5px;
    display: block;
    text-align: center;
    font-size: 24px;
    font-family: 'EB Garamond', serif;
    margin-bottom: 5px;
}

div.right {
    border-radius: 12px;
    height: 400px;
    margin-right: 50px;
    margin-top: 120px;
    float: right;
    width: 40%;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 4px 4px grey;
}

p.musiclist {
    margin-top: 5px;
    display: block;
    font-family: 'Sigmar', cursive;
    font-size: 40px;

    background-image: linear-gradient(270deg, rgb(2, 193, 252), rgb(255, 0, 0));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
    margin-bottom: -15px;
}

ul.songlyrics {
    overflow-y: scroll;
    max-height: 300px;
}

ul.songlyrics::-webkit-scrollbar {
    width: 0px;
}

p.lyrics {
    margin-right: 15px;
    font-family: 'Sigmar', cursive;
    font-size: 20px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

#progress {
    width: 60%;
    border-radius: 12px;
    background: pink;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-appearance: none;
    box-shadow: 2px 2px grey;
    cursor: pointer;
}

#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: pink;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 6px solid lightseagreen;
}

#download {
    color: black;
    transition: 0.2s;
}

#download:hover {
    opacity: 0.8;
}